@tailwind base;
@tailwind components;
@tailwind utilities;


.remove-control::-webkit-outer-spin-button,
.remove-control::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

  /* input[type=number] {
    -moz-appearance: textfield;
  } */